@media (max-width:1330px) {
     .fa-bars {
         display: flex;
         font-size: 29px;
         color: #fff;
         margin-top: 12px;
         margin-left: 1000px;
        }
    .nav-ul {
        display: none;
    }
    .label-divider {
        display: flex;
        flex-direction: column;
    }
    .icon-block {
    margin-top: 400px;
    }
    .subject-block, .email-block, .name-block, .button-block {
        width: 720px;
    }
    .input-block {
        margin-top: 50px;
    }
    .textarea {
        margin-left: 16px;
    }
    .send-image {
        display: none;
    }
    .map {
        width: 90%;
    }
    .footer-big-block {
        margin-left: 100px;
    }
}@media (max-width:1230px) {
    .footer-big-block {
        width: 900px;
    }
    .first-block {
        display: none;
    }
}
@media (max-width:1080px) {
    .image-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pictures {
        width: 700px;
        height: 700px;
        margin-top: 20px;
    }
    .fa-bars {
        margin-left: 800px;
       }
}
@media (max-width:1044px) {
    .footer-wide-block {
       display: flex;
       flex-direction: column;
       width: 900px;
       margin-top: 100px;
    }
    .pop-up {
        margin-left: 26px;
        margin-top: 20px;
    }
    .copyright {
        margin-left: 26px;
    }
    .footer-big-block {
        margin-left: 26px;
        display: flex;
        flex-direction: column;
    }
    .container-block-contact {
        margin-left: 60px;
    }
    .footer-wrapper {
        height: 420px;
    }
    .sec-block {
        margin-left: 1px;
        
    }
    .container-block {
        margin-left: 60px;
    }
}
@media (max-width:950px) {
    .fa-bars {
        margin-left: 600px;
    }
    .pictures {
        width: 500px;
        height: 500px;    
    } 
    .textarea-block {
        width: 620px;
    }
    .subject-block, .name-block, .email-block, .button-block {
        width: 620px;
    }
    .footer-wide-block {
        width: 650px;
    }
    .footer-wrapper {
        width: 100%;
    }
    .footer-big-block {
        width: 400px;
    }
}
@media (max-width:650px) {
    .fa-bars {
        margin-left: 400px;
    }
    .pictures {
        width: 300px;
        height: 300px;    
    } 
    .textarea-block {
        width: 420px;
    }
    .subject-block, .name-block, .email-block, .button-block {
        width: 420px;
        /* margin-right: 90px; */
    }
    .footer-wide-block {
        width: 450px;
    }
    .footer-wrapper {
        width: 100%;
    }
    .icon-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pic-block {
        margin-top: 290px;
    }
    .main-title {
        font-size: 30px;
    }
}